In [14]:
import os
# set up the working directory
os.chdir('/Users/deborah_j/Documents/CEU/datacamp-playground/Introduction_to_Statistics_in_Python/')

# Dates and Calendars

In [15]:
# Create Dates: in date() function zero padding is NOT required
from datetime import date
two_hurrican_dates = [date(2016, 10,7),date(2017, 6,21)]

In [16]:
# attributes of the date object
print(two_hurrican_dates[0].year)   
print(two_hurrican_dates[0].month) 
print(two_hurrican_dates[0].day)

2016
10
7

In [17]:
# Find the weekday of a date
print(two_hurrican_dates[1].weekday())

2

In [18]:
# Match with dates
from datetime import timedelta
td =timedelta(days = 31, hours = 1)
print(two_hurrican_dates[0] + td)

2016-11-07

In [19]:
# incrementing variables with += or -=
x =0
x += 1
print(x)

y =10
y -= 1
print(y)

1
9

In [20]:
# turn dates into strings
from datetime import date
d1 = date(1994,2,11)
print(d1)    
# ISO 8601 format in a list
print([d1.isoformat()])

1994-02-11
['1994-02-11']

In [21]:
# strftime() method: more flexible way to format dates
d2 = date(1997,10,8)
print(d2.strftime("%A, %B %d, %Y"))

# it works with more text wrapped as well!
print(d2.strftime("Year is %Y"))

# Format: YYYY/MM/DD
print(d2.strftime("%Y/%m/%d"))

Wednesday, October 08, 1997
Year is 1997
1997/10/08

In [22]:
# A few dates that computers once had trouble with
some_dates = ['1999-12-11', '1999-11-12']
# Print them in order from earliest to latest
print(sorted(some_dates))

['1999-11-12', '1999-12-11']

# Combining Dates and Times

In [23]:
from datetime import datetime
dt = datetime(1994, 2, 11, 1, 51, 59) #follow the vibe and type!
print(dt)

1994-02-11 01:51:59

In [24]:
# replace part of a datetime
dt_update = dt.replace(minute = 58, second = 8)
print(dt_update)

1994-02-11 01:58:08

In [25]:
# strftime can deal with time as well
print(dt.strftime("%H:%M:%S on %Y-%m-%d"))

01:51:59 on 1994-02-11

In [26]:
# ISO 8601 format
print(dt.isoformat())

1994-02-11T01:51:59

In [27]:
# Parsing datetimes with strptime
from datetime import datetime
dt2 = datetime.strptime("12/31/2017 15:32:31", "%m/%d/%Y %H:%M:%S") #it takes two arguments that must tally
print(dt2)

2017-12-31 15:32:31

In [28]:
# or we can use timestamp tp parse a date
ts = 1514673151.0
print(datetime.fromtimestamp(ts))

2017-12-30 23:32:31

# Time zones and Daylight Saving

In [ ]:
from datetime import datetime, timedelta, timezone
# Create a timezone for Eastern Standard Time (EST)
ET = timezone(timedelta(hours = -5)) # 5 hours behind UTC
#  timezone-aware datetime
dt3 = datetime(2020, 2,14, 15,8,3, tzinfo= ET)
print(dt3)

2020-02-14 15:08:03-05:00

In [31]:
# Indian time: a special case where the timezone is not a whole number of hours
IST = timezone(timedelta(hours = 5, minutes = 30))
print(dt3.astimezone(IST))

2020-02-15 01:38:03+05:30

In [34]:
# Adjusting timezone vs changing tzinfo
print(dt3)
print(dt3.replace(tzinfo = timezone.utc))
# the replace() method is not the best way to change the timezone of a datetime object.
# The best way is to use the astimezone() method, by changing original to match UTC
print(dt3.astimezone(timezone.utc))

2020-02-14 15:08:03-05:00
2020-02-14 15:08:03+00:00
2020-02-14 20:08:03+00:00

# Dates and Times in Pandas