In [46]:
import numpy as np
import pandas as pd
import scipy
import os
# set up the working directory
os.chdir('/Users/deborah_j/Documents/CEU/datacamp-playground/Introduction_to_Statistics_in_Python/')

In [36]:
# load the file and delete first column
amir_deals_df = pd.read_csv('amir_deals.csv')
del amir_deals_df['Unnamed: 0']
amir_deals_df

       product   client status   amount  num_users
0    Product F  Current    Won  7389.52         19
1    Product C      New    Won  4493.01         43
2    Product B      New    Won  5738.09         87
3    Product I  Current    Won  2591.24         83
4    Product E  Current    Won  6622.97         17
..         ...      ...    ...      ...        ...
173  Product A  Current   Lost  5835.32         23
174  Product D  Current    Won  6377.50         12
175  Product D  Current    Won  3537.61         28
176  Product A  Current    Won  6448.07         34
177  Product D      New   Lost  7320.05         72

[178 rows x 5 columns]

In [44]:
np.mean(amir_deals_df['amount'])

4812.000337078652

In [45]:
np.median(amir_deals_df['amount'])

4805.1900000000005

In [50]:
from scipy.stats import mode
mode(amir_deals_df['num_users'])

ModeResult(mode=array([2]), count=array([7]))

In [42]:
amir_deals_df['num_users'].sort_values()

85      1
29      1
123     1
151     2
91      2
       ..
63     94
120    96
133    98
107    99
40     99
Name: num_users, Length: 178, dtype: int64